<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Dieta.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>65737B602B11C3A200AE0DCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65737B742B11C3A300AE0DCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65737B7E2B11C3A300AE0DCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
